{% extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
<div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">主页</a></li>
            <li  class="active"><a href="/proinfo/">个人信息</a></li>
          </ul>
          <span class="navbar-brand" style="float:right;" style="font-family:Microsoft YaHei; color:#FFFFFF; font-size:40px;"><a href="/logout/" style="text-decoration:none; color:#9D9D9D;">退出</a></span>
          <span class="navbar-brand" style="float:right;" style="font-family:Microsoft YaHei; color:#FFFFFF; font-size:40px;">欢迎使用：{{user.first_name}}</span>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <div class="jumbotron" >
          <form action="/pro/alter/" method="post" class="form" >
              {% csrf_token %}
              <h4 style="text-align:center;">编辑对象:{{pro.user.first_name}}</h4>
              <p style="line-height:14px; color:red; text-align: center; ">{{error}}</p>
              <input type="text" name="pro_id" value="{{pro_id}}" style="display:none;">
              {% bootstrap_form form %}
              {% buttons %}
              <button type="submit" class="btn btn-primary">
                  {% bootstrap_icon "star" %} 提交
              </button>
              {% endbuttons %}
          </form>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="/repasswd/" class="list-group-item">修改密码</a>
            <a href="/alterinfo/" class="list-group-item">修改个人信息</a>
            <a href="/applyperm/" class="list-group-item">申请项目权限</a>
            {% if user.pro.user_manger%}
            <a href="/prolist/" class="list-group-item">成员信息列表</a>
            <a href="/enterinfo/" class="list-group-item">入驻员工信息</a>
            {% endif %}
            {% if user.pro.add_role_perm %}
            <a href="/userprojectlist/" class="list-group-item">项目角色关系列表</a>
            <a href="/userproject/add/" class="list-group-item">添加项目角色关系</a>
            <a href="/projectrole/add/" class="list-group-item">添加项目角色</a>
            {% endif %}
            {% if user.pro.apply_subject_perm%}
            <a href="/applypermlist/" class="list-group-item">申请权限列表</a>
            {% endif %}
          </div>
        </div>
      </div>
   <!--  <hr> -->
    </div>
{% endblock %}