{% extends 'leavebase.html' %}
{% load bootstrap3 %}
{% block content %}
            <li class="active"><a href="/leave/apply/" onclick="">申请</a></li>
            <li><a href="/leave/notes/">申请记录</a></li>
            <li><a href="/leave/myholiday/">假日详情</a></li>
            {% if num > 0 %}
            <li><a href="/leave/myapproval/">审批记录</a></li>
            {% endif %}
            {% if user.pro.vacation_manager %}
            <li><a href="/leave/manager/">管理界面</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">请选择申请假期类型</h3>
          
          <div class="table-responsive">
           <ul class="nav nav-pills" role="tablist">
           {% for type in types %}
			     <li role="presentation"><a href="/leave/apply/?leavetype={{type.name}}" style="cursor: pointer;">{{type.name}}</a></li>
           {% endfor %}
			     </ul>
           <h3>调休管理规定</h3>  
            <ol>  
            <li>员工应在工作时间内提高工作效率，完成自己的工作。</li>  
            <li>如果确实因为项目需要在节假日上班的，按照考勤记录，将尽快安排员工进行同时长调休。</li>  
            </ol> 
            <h3>年假管理规定</h3> 
            <ol>  
            <li>公司正式员工可按劳动法规定享受带薪休假。即：员工累计工作已满１年不满10年的，年休假５天；已满10年不满20年的，年休假10天；已满20年的，年休假15天。服务年限每增加一年相应增加一天假期，但最多不超过20天；在公司工作未满一年则按照比例计算年假天数。</li>
            <li>国家法定节假日不计入年假假期；</li>
            <li>年假在1个年度内可以集中安排，也可以分段安排，但不可跨年度安排；</li>
            <li>当年年假，当年休完，不得累计，特殊因工作原因未能在本年休假的，经部门提请，人事部核准，可延续至次年3月底。</li>
            <li>员工有下列情形之一的，不享受当年的年休假</li>
            <li>应届毕业生，工作不满一年的；</li>
            <li>员工一年内请假累计12天及以上且公司按照规定不扣工资的；</li>
            <li>员工累计１工作满1年不满10年的，请病假累计2个月以上的。</li>
            </ol>

            <h3>带薪病假</h3>
            <ol>
            <li>员工通过试用期后每月享有一天带薪病假，当月休完，过期作废。</li>
            </ol>
            <h3>婚假的管理规定 </h3>
            <ol> 
            <li>依法办理结婚登记的夫妻，可享受10天婚假；</li>
            <li>婚假包括公休假和法定假；</li>
            <li>申请时请出具结婚证；</li>
            <li>婚假请在结婚登记后半年内申请，一次性使用，逾期视为放弃。</li>
            </ol>
            <h3>丧假的管理规定 </h3>
            <ol>
            <li>根据国家劳动法规定，如员工的直系亲属（父母、子女、配偶）去世，</li>
            <li>可申请连续三天带薪丧假（自然日）； </li>
            <li>非直系亲属（兄弟姐妹、祖父母、子孙）去世，享受一天带薪丧假；</li>
            <li>申请丧假需要提供相应证明材料。</li>
            </ol>
            <h3>产假管理规定</h3>
            <ol>
            <li>根据国家相关规定，女职工生育享受98天产假，以及30天生育奖励假，共计128天；</li>
            <li>女职工妊娠不满12周（含）流产的，产假为15天；12周以上16周（含）以内流产的产假为30天；16周以28周（含）以内流产的产假为42天；怀孕28周以上终止妊娠的享受正常生育产假90天，其中包括产前休假15天；</li> 
            <li>男员工（初婚或再婚但未生育者）可于配偶生育时，依据医院出生证明享有15天带薪护理假。护理假不得分开使用，且须在孩子出生后一个月内使用；</li> 
            <li>以上休假，均按自然天数计算；女职工婴儿不满1周岁的，在工作时间内给予两次哺乳（含人工喂养）时间，每次30分钟。多胞胎生育的，每多哺乳一个婴儿，每次哺乳时间增加30分钟。两次哺乳时间，可以合并使用。</li>
            </ol>
            <h3>释义</h3>
            <ol>
            <li>正式员工：正式员工是指签订公司劳动合同，并试用期转正员工。</li>
            </ol>
          </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
	$('.form_date1').datetimepicker({
        format: "yyyy-mm-dd",
	    autoclose: true,
	    minView: "month",
	    maxView: "decade",
	    todayBtn: true,
	    pickerPosition: "bottom-left"
    }).on("click",function(ev){
    $(".form_date1").datetimepicker("endDate", $("#date2").val());
});

    $('.form_date2').datetimepicker({
    	format: "yyyy-mm-dd",
	    autoclose: true,
	    minView: "month",
	    maxView: "decade",
	    todayBtn: true,
	    pickerPosition: "bottom-left"
    }).on("click", function (ev) {
    $(".form_date2").datetimepicker("setStartDate", $("#date1").val());
});
</script>
{% endblock %}