<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="">
    <title>CAS</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/offcanvas.css" rel="stylesheet">
   
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" style="font-family:Microsoft YaHei; font-size:40px;  color:#FFFFFF;  font-weight:bold; font-style:italic;">CAS</span>
        </div>
    {% block content %}
    {% endblock %}
    {% block modal %}
    {% endblock %}
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/offcanvas.js"></script>
    <script src="/static/js/modal.js"></script>

  </body>
</html>
