{% extends 'base.html' %}
{% block content %}


    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="jumbotron" style="min-height:500px;">
                    <p style=" font-family:Microsoft YaHei; font-size:18px; font-weight:bold;margin-left: 20px; ">应用列表</p>
                    <a href="/dinner/" target="_blank">
                        <!-- 在ie中a标签里嵌套button标签，a的href会被button的属性阻止，所以改为div  -->
                        <div style="margin-left:20px; margin-top:8px;" type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 订餐
                        </div>
                    </a>
                    <a href="/leave/myholiday/" target="_blank">
                        <div style="margin-left:20px; margin-top:8px;" type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 请假
                        </div>
                    </a>
                    <a href="/check/list/" target="_blank">
                        <!-- 在ie中a标签里嵌套button标签，a的href会被button的属性阻止，所以改为div  -->
                        <div style="margin-left:20px; margin-top:8px;" type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 考勤
                        </div>
                    </a>

                    <a href="/yunpan/"  target="_blank">
                        <div style="margin-left:20px; margin-top:8px;" type="button"
                                class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 云盘
                        </div>
                    </a>

                    <a href="/cms/list/" target="_blank">
                        <div style="margin-left:20px; margin-top:8px;" type="button"
                                class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 采购合同审批
                        </div>
                    </a>

                    {% for project in permissions %}
                        <a href="/login/?service={{ project.url }}" target="_blank">
                            <div style="margin-left:20px; margin-top:8px;" type="button" title="{{ project.desc }}"
                                    class="btn btn-default btn-lg">
                                <span class="glyphicon glyphicon-star" 　aria-hidden="true"></span> {{ project.name }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-6 col-lg-4" style="width:100%">
                        <h2>最近新闻</h2>
                        {% for new in news %}
                            <p style="font-size:18px;">{{ new.name }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="list-group">
                    <a href="http://wiki.100credit.cn/" class="list-group-item"  target="_blank">百融金服知识库</a>
                    {% for m in menu %}
                        <a href={{ m.url }} class="list-group-item">{{ m.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
