{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="jumbotron">
                    <div class="alert alert-danger" role="alert">
                        <a href="#" class="alert-link" style="text-decoration:none;">百融个人邮箱以上是必填项!</a>
                    </div>
                    <form action="/enterinfo/" method="post" class="form">
                        {% csrf_token %}
                        <p style="line-height:14px; color:red; text-align: center; ">{{ error }}</p>
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "star" %} 提交
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="list-group">
                    <a href="/repasswd/" class="list-group-item">修改密码</a>
                    <a href="/alterinfo/" class="list-group-item">修改个人信息</a>
                    <a href="/applyperm/" class="list-group-item">申请项目权限</a>
                    {% if user.pro.user_manger %}
                        <a href="/prolist/" class="list-group-item">成员信息列表</a>
                        <a href="/enterinfo/" class="list-group-item">入驻员工信息</a>
                    {% endif %}
                    {% if user.pro.add_role_perm %}
                        <a href="/userprojectlist/" class="list-group-item">项目角色关系列表</a>
                        <a href="/userproject/add/" class="list-group-item">添加项目角色关系</a>
                        <a href="/projectrole/add/" class="list-group-item">添加项目角色</a>
                    {% endif %}
                    {% if user.pro.apply_subject_perm %}
                        <a href="/applypermlist/" class="list-group-item">申请权限列表</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}