{% extends 'dinnerbase.html'%}
{% block content%}
<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="/dinner/" style="font-size:16px;">＋１</a></li>
            <li class="active"><a href="/dinner/orders/" style="font-size:16px;">订单</a></li>
            <li><a href="/dinner/total/" style="font-size:16px;">统计</a></li>
          {% if pro.dinner_manager %}
            <li><a href="/dinner/food/" style="font-size:16px;">管理</a></li>
            <li><a href="/dinner/notes/" style="font-size:16px;">订餐记录查询</a></li>
          {% endif %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header" style="font-size:35px;">订单列表</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="font-size:20px;">姓名</th>
                  <th style="font-size:20px;">晚餐</th>
                  <th style="font-size:20px;">楼层</th>
                  <th style="font-size:20px;">操作</th>
                </tr>
              </thead>
              <tbody>
              {% for order in orders%}
                <tr>
                  <td style="line-height:25px; font-size:16px;">{{ order.pro.user.first_name}}</td>
                  <td style="line-height:25px; font-size:16px;">{{ order.food.name}}</td>
                  {% if order.pro.floor == 1 %}
                  <td style="line-height:25px; font-size:16px;">2</td>
                  {% elif order.pro.floor == 2 %}
                  <td style="line-height:25px; font-size:16px;">20</td>
                  {% else %}
                  <td style="line-height:25px; font-size:16px;">石景山</td>
                  {% endif %}
                  {% if pro == order.pro %}
                  <td style="line-height:25px; font-size:16px;"><a style="cursor: pointer; text-decoration:none;" onclick="cancel({{order.id}})">退订</a></td>
                  {% else %}
                  <td style="line-height:25px; font-size:16px;"><a href="#" style="cursor:default; color:#E5E0E0;text-decoration:none;">退订</a></td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
<script type="text/javascript">
  function cancel(order_id){
    url = '/dinner/cancel/';
    var info = confirm('确定要取消订单吗?');
    if (info) {
        $.getJSON(url,{"order_id":order_id},function(result){
            if(result.msg == 0){
              allert('取消失败,请联系前台!')
              location.reload();
            }
            location.reload();
        });
    };
}
</script>
{% endblock %}