{% extends "dinnerbase.html"%}
{% block content%}
<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="/dinner/" style="font-size:16px;">＋１</a></li>
            <li><a href="/dinner/orders/" style="font-size:16px;">订单</a></li>
            <li class="active"><a href="/dinner/total/" style="font-size:16px;">统计</a></li>
          {% if pro.dinner_manager %}
            <li><a href="/dinner/food/" style="font-size:16px;">管理</a></li>
            <li><a href="/dinner/notes/" style="font-size:16px;">订餐记录查询</a></li>
          {% endif %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header" style="font-size:35px;">统计列表</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="font-size:20px;">楼层</th>
                  <th style="font-size:20px;">食物名称</th>
                  <th style="font-size:20px;">数量</th>
                </tr>
              </thead>
              <tbody>
              {% for floor, item in items %}
                {% for key, value in item %}
                {% if value != 0 %}
                <tr >
                  <td style="line-height:25px; font-size:16px;">{{floor}}</td>
                  <td style="line-height:25px; font-size:16px;">{{key}}</td>
                  <td style="line-height:25px; font-size:16px;">{{value}}</td>
                </tr>
                {% endif %}
                {% endfor%}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock%}