{% extends 'leavebase.html' %}
{% load bootstrap3 %}
{% block content %}
            <li><a href="/leave/apply/">申请</a></li>
            <li class="active"><a href="/leave/notes/" >申请记录</a></li>
            <li ><a href="/leave/myholiday/">假日详情</a></li>
            {% if num > 0 %}
            <li><a href="/leave/myapproval/">审批记录</a></li>
            {% endif %}
            {% if user.pro.vacation_manager %}
            <li><a href="/leave/manager1/">管理界面1</a></li>
            <li><a href="/leave/manager2/">管理界面2</a></li>
            <li><a href="/leave/manager3/">管理界面3</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
          {% if applying_objs %}
          <h2 class="page-header" style="">待审批</h2>
<!--           <form action="/leave/notesearch/" method="post">{% csrf_token %}
          <div class="col-lg-6" style="width:20%; position:absolute; left:70%; top:10px;" >
            <div class="input-group">
              <input type="text" class="form-control" placeholder="输入年月(2016-09)" value="{{date}}" name="search">
              <span class="input-group-btn">
              <button class="btn btn-default" type="submit">查询申请记录</button>
              </span>
            </div>
          </div>
          </form> -->
          
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:10%;">申请日期</th>
                  <th style="width:7%;">类型</th>
                  <th style="width:10%;">开始日期</th>
                  <th style="width:10%;">结束日期</th>
                  <th style="width:8%;">总天数</th>
                  <th style="width:33%;">详情</th>
                  <th style="width:15%;">操作</th>
                  <th style="width:7%;">附件</th>
                </tr>
              </thead>
              <tbody>
              {% for obj in applying_objs %}
                <tr>
                  <td>{{obj.apply_date | date:"Y-m-d"}}</td>
                  <td>{{obj.leavetype}}</td>
                  <td>{{obj.start_date　| date:"Y-m-d"}}</td>
                  <td>{{obj.end_date | date:"Y-m-d"}}</td>
                  {% if obj.total_day %}
                  <td>{{obj.total_day}}</td>
                  {% else%}
                  <td></td>
                  {% endif %}
                  <td>{{obj.desc}}</td>
                  <td><a href="/leave/awayapply/?obj_id={{obj.id}}">取消申请</a></td>
                  {% if obj.upfile %}
                  <td><a href="/leave/down/?obj_id={{obj.id}}">下载</a></td>
                  {% else %}
                  <td></td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
          
          
          
          <h2 class="sub-header">申请记录</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:10%;">申请日期</th>
                  <th style="width:7%;">类型</th>
                  <th style="width:10%;">开始日期</th>
                  <th style="width:10%;">结束日期</th>
                  <th style="width:8%;">总天数</th>
                  <th style="width:33%;">详情</th>
                  <th style="width:15%;">审批结果</th>
                  <th style="width:7%;">附件</th>
                </tr>
              </thead>
              <tbody>
              {% for obj in page %}
                <tr>
                  <td>{{obj.apply_date | date:"Y-m-d"}}</td>
                  <td>{{obj.leavetype}}</td>
                  <td>{{obj.start_date　| date:"Y-m-d"}}</td>
                  <td>{{obj.end_date | date:"Y-m-d"}}</td>
                  {% if obj.total_day %}
                  <td>{{obj.total_day}}</td>
                  {% else %}
                  <td>0</td>
                  {% endif %}
                  <td>{{obj.desc}}</td>

                  {% if obj.result == 1%}
                  <td>同意</td>
                  {% elif obj.result == 0 %}
                  <td>拒绝</td>
                  {% else %}
                  <td>已取消</td>
                  {% endif %}
                  {% if obj.upfile %}
                  <td><a href="/leave/down/?obj_id={{obj.id}}">下载</a></td>
                  {% else %}
                  <td></td>
                  {% endif %}
                </tr>
             {% endfor %}
              </tbody>
            </table>
          </div>
          {% if page.paginator.num_pages > 1 %}
           <nav>
            <ul class="pager">
             {% if page.has_previous %}
              <li ><a href="/leave/notes/?page={{page.previous_page_number}}">前一页</a></li>
             {% else %}
              <li class="disabled"><a href="#" disabled>前一页</a></li>
              {% endif %}
              <li>{{page.number}}/{{page.paginator.num_pages}}</li>
             {% if page.has_next %}
              <li><a href="/leave/notes/?page={{page.next_page_number}}">后一页</a></li>
             {% else%}
              <li class="disabled"><a href="#" disabled>后一页</a></li>
              {%endif%}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}