{% extends 'leavebase.html' %}
{% load bootstrap3 %}
{% block content %}
            <li><a href="/leave/apply/">申请</a></li>
            <li><a href="/leave/notes/">申请记录</a></li>
            <li><a href="/leave/myholiday/">假日详情</a></li>
            {% if user.pro.vacation_manager %}
            <li ><a href="/leave/manager1/">管理界面-申请记录</a></li>
            <li class="active"><a href="/leave/manager2/">管理界面-已审批</a></li>
            <li><a href="/leave/manager3/">管理界面-待审批</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="input-group">
              <input type="text" name="firstname" class="form-control" placeholder="输入申请人" value="{{firstname}}" >
            </div>

          <h2 class="sub-header">已审批 <a href="/leave/down_approvaled/" style="float: right;"><button type="button" class="btn btn-primary">导出</button></a></h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:6%;">编号</th>
                  <th style="width:6%;">申请人</th>
                  <th style="width:10%;">申请时间</th>
                  <th style="width:6%;">类型</th>
                  <th style="width:10%;">开始时间</th>
                  <th style="width:10%;">结束时间</th>
                  <th style="width:6%;">总天数</th>
                  <th style="width:29%;">申请理由</th>
                  <th style="width:7%;">附件</th>
                </tr>
              </thead>
              <tbody>
              {% for obj in page%}
                <tr>
                  <td>{{obj.user.pro.num_id}}</td>
                  <td>{{obj.user.first_name}}</td>
                  <td>{{obj.apply_date | date:'Y-m-d'}}</td>
                  <td>{{obj.leavetype}}</td>
                  <td>{{obj.start_date | date:'Y-m-d'}}</td>
                  <td>{{obj.end_date | date:'Y-m-d'}}</td>
                  {% if obj.total_day %}
                  <td>{{obj.total_day}}</td>
                  {% else %}
                  <td>0</td>
                  {% endif %}
                  <td>{{obj.desc}}</td>
                  {% if obj.upfile %}
                  <td><a href="/leave/down/?obj_id={{obj.id}}">下载</a></td>
                  {% else %}
                  <td></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        <div align="center">
                {% bootstrap_pagination page_obj url=request.path extra=extra_url_param size="small" %}
        </div>
        </div>
      </div>
    </div>
<script>

    $("input[name=firstname]").change(function () {
        location.href = "{% url 'manager2' %}?firstname=" + $(this).val();
    });

</script>
{% endblock %}
