{% extends 'leavebase.html' %}
{% load bootstrap3 %}
{% block content %}
            <li class="active"><a href="/leave/apply/" onclick="">申请</a></li>
            <li><a href="/leave/notes/">申请记录</a></li>
            <li><a href="/leave/myholiday/">假日详情</a></li>
            {% if user.pro.vacation_manager %}
            <li><a href="/leave/manager1/">管理界面-申请记录</a></li>
            <li><a href="/leave/manager2/">管理界面-已审批</a></li>
            <li><a href="/leave/manager3/">管理界面-待审批</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">请选择申请假期类型</h3>
          {% if error %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
          {% endif %}
          <div class="table-responsive">

           <ul class="nav nav-pills" role="tablist">
           {% for type in types %}
            {% if type.name == '外访' %}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-visit')">{{type.name}}</button>
            {% elif type.name == '婚假' %}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-marry')">{{type.name}}</button>
            {% elif type.name == '病假' %}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-sick')">{{type.name}}</button>
            {% elif type.name == '产假' %}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-chanjia')">{{type.name}}</button>
            {% elif type.name == '出差'%}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-common-0')">{{type.name}}</button>
            {% elif type.name == '调休'%}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-common-1')">{{type.name}}</button>
            {% elif type.name == '加班'%}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-common-2')">{{type.name}}</button>
            {% elif type.name == '年假'%}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-common-3')">{{type.name}}</button>
            {% elif type.name == '其他'%}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-common-4')">{{type.name}}</button>
            {% elif type.name == '事假'%}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-common-5')">{{type.name}}</button>
            {% elif type.name == '丧假'%}
            <button type="button" class="btn btn-primary" onclick="show_apply_modal('#apply-modal-common-6')">{{type.name}}</button>
            {% else %}
            {% endif %}
           {% endfor %}
			     </ul>
           <h3>调休管理规定</h3>  
            <ol>  
            <li>员工应在工作时间内提高工作效率，完成自己的工作。</li>  
            <li>如果确实因为项目需要在节假日上班的，按照考勤记录，将尽快安排员工进行同时长调休。</li>  
            </ol> 
            <h3>年假管理规定</h3> 
            <ol>  
            <li>公司正式员工可按劳动法规定享受带薪休假。即：员工累计工作已满１年不满10年的，年休假５天；已满10年不满20年的，年休假10天；已满20年的，年休假15天。服务年限每增加一年相应增加一天假期，但最多不超过20天；在公司工作未满一年则按照比例计算年假天数。</li>
            <li>国家法定节假日不计入年假假期；</li>
            <li>年假在1个年度内可以集中安排，也可以分段安排，但不可跨年度安排；</li>
            <li>当年年假，当年休完，不得累计，特殊因工作原因未能在本年休假的，经部门提请，人事部核准，可延续至次年3月底。</li>
            <li>员工有下列情形之一的，不享受当年的年休假</li>
            <li>应届毕业生，工作不满一年的；</li>
            <li>员工一年内请假累计12天及以上且公司按照规定不扣工资的；</li>
            <li>员工累计１工作满1年不满10年的，请病假累计2个月以上的。</li>
            </ol>

            <h3>带薪病假</h3>
            <ol>
            <li>员工通过试用期后每月享有一天带薪病假，当月休完，过期作废。</li>
            </ol>
            <h3>婚假的管理规定 </h3>
            <ol> 
            <li>依法办理结婚登记的夫妻，可享受10天婚假；</li>
            <li>婚假包括公休假和法定假；</li>
            <li>申请时请出具结婚证；</li>
            <li>婚假请在结婚登记后半年内申请，一次性使用，逾期视为放弃。</li>
            </ol>
            <h3>丧假的管理规定 </h3>
            <ol>
            <li>根据国家劳动法规定，如员工的直系亲属（父母、子女、配偶）去世，</li>
            <li>可申请连续三天带薪丧假（自然日）； </li>
            <li>非直系亲属（兄弟姐妹、祖父母、子孙）去世，享受一天带薪丧假；</li>
            <li>申请丧假需要提供相应证明材料。</li>
            </ol>
            <h3>产假管理规定</h3>
            <ol>
            <li>根据国家相关规定，女职工生育享受98天产假，以及30天生育奖励假，共计128天；</li>
            <li>女职工妊娠不满12周（含）流产的，产假为15天；12周以上16周（含）以内流产的产假为30天；16周以28周（含）以内流产的产假为42天；怀孕28周以上终止妊娠的享受正常生育产假90天，其中包括产前休假15天；</li> 
            <li>男员工（初婚或再婚但未生育者）可于配偶生育时，依据医院出生证明享有15天带薪护理假。护理假不得分开使用，且须在孩子出生后一个月内使用；</li> 
            <li>以上休假，均按自然天数计算；女职工婴儿不满1周岁的，在工作时间内给予两次哺乳（含人工喂养）时间，每次30分钟。多胞胎生育的，每多哺乳一个婴儿，每次哺乳时间增加30分钟。两次哺乳时间，可以合并使用。</li>
            </ol>
            <h3>释义</h3>
            <ol>
            <li>正式员工：正式员工是指签订公司劳动合同，并试用期转正员工。</li>
            </ol>
          </div>
          </div>
        </div>
      </div>
    </div>

<div class="modal fade " id="apply-modal-visit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>外访申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" id="applyform1" method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if error%}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endif %}
                    <input type="text" name="leavetype" value="外访" style="display:none;">
                    <div class="form-group">
                        <label for="date-start" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-name" class="control-label">总天数：</label>
                        <select id="apply-days" name="apply_days" class="form-control" >
                                <option value="0.5" >0.5</option>
                                <option value="1" selected="selected">1</option>
                                <option value="1.5" >1.5</option>
                                <option value="2" >2</option>
                                <option value="2.5" >2.5</option>
                                <option value="3" >3</option>
                                <option value="3.5" >3.5</option>
                                <option value="4" >4</option>
                                <option value="4.5" >4.5</option>
                                <option value="5" >5</option>
                                <option value="5.5" >5.5</option>
                                <option value="6" >6</option>
                                <option value="6.5" >6.5</option>
                                <option value="7" >7</option>
                                <option value="7.5" >7.5</option>
                                <option value="8" >8</option>
                                <option value="8.5" >8.5</option>
                                <option value="9" >9</option>
                                <option value="9.5" >9.5</option>
                                <option value="10" >10</option>
                        </select>
                    </div>
                    <div class="form-group" id="mydom">

                    </div>
                    <div class="form-group">
                        <label for="apply-visitor" class="control-label">客户名称：</label>
                        <input id="apply-visitor" name="apply_visitor" type="text" class="form-control" placeholder="必填" required>
                    </div>
                    <div class="form-group">
                        <label for="apply-address" class="control-label">地点：</label>
                        <input id="apply-address" name="apply_address" type="text" class="form-control" placeholder="必填" required>
                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">备注：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit1">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>    <!-- ####外访modal#### -->

<div class="modal fade " id="apply-modal-sick" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>病假申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" id="applyform2" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="病假" style="display:none;">
                    <div class="form-group">
                        <label for="date-start" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apply-days" class="control-label">总天数：</label>
                        <select id="apply-days" name="apply_days" class="form-control" >
                                <option value="0.5" >0.5</option>
                                <option value="1" selected="selected">1</option>
                                <option value="1.5" >1.5</option>
                                <option value="2" >2</option>
                                <option value="2.5" >2.5</option>
                                <option value="3" >3</option>
                                <option value="3.5" >3.5</option>
                                <option value="4" >4</option>
                                <option value="4.5" >4.5</option>
                                <option value="5" >5</option>
                                <option value="5.5" >5.5</option>
                                <option value="6" >6</option>
                                <option value="6.5" >6.5</option>
                                <option value="7" >7</option>
                                <option value="7.5" >7.5</option>
                                <option value="8" >8</option>
                                <option value="8.5" >8.5</option>
                                <option value="9" >9</option>
                                <option value="9.5" >9.5</option>
                                <option value="10" >10</option>
                        </select>
                    </div>
                    <div class="form-group" id="mydom">

                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">备注：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">附件：</label>
                        <input type="file" id="exampleInputFile" name="apply_file">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit2">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>    <!-- #####婚假modal###### -->



<div class="modal fade " id="apply-modal-marry" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>婚假申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" id="applyform3" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="婚假" style="display:none;">
                    <div class="form-group">
                        <label for="date-start" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">备注：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">附件：</label>
                        <input type="file" id="exampleInputFile" name="apply_file">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit3">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div> <!--    #####病假modal###### -->



<div class="modal fade " id="apply-modal-chanjia" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>产假申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" class="form" id="applyform4" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="产假" style="display:none;">
                    <div class="form-group">
                        <label for="date-start" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apply-type" class="control-label">总天数：</label>
                        <select id="apply-type" name="chanjiatype" class="form-control" >
                                <option value="1"　selected="selected">产检假1天</option>
                                <option value="15" >陪产假15天</option>
                                <option value="128" >产假128天</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">备注：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">附件：</label>
                        <input type="file" id="exampleInputFile" name="apply_file">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit4">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>    <!-- ####产假modal###### -->


<div class="modal fade " id="apply-modal-common-0" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>出差申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" class="form" id="applyform5" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="出差" style="display:none;">
                    <div class="form-group">
                        <label for="date-start" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-name" class="control-label">总天数：</label>
                        <select id="apply-days" name="apply_days" class="form-control" >
                                <option value="0.5" >0.5</option>
                                <option value="1" selected="selected">1</option>
                                <option value="1.5" >1.5</option>
                                <option value="2" >2</option>
                                <option value="2.5" >2.5</option>
                                <option value="3" >3</option>
                                <option value="3.5" >3.5</option>
                                <option value="4" >4</option>
                                <option value="4.5" >4.5</option>
                                <option value="5" >5</option>
                                <option value="5.5" >5.5</option>
                                <option value="6" >6</option>
                                <option value="6.5" >6.5</option>
                                <option value="7" >7</option>
                                <option value="7.5" >7.5</option>
                                <option value="8" >8</option>
                                <option value="8.5" >8.5</option>
                                <option value="9" >9</option>
                                <option value="9.5" >9.5</option>
                                <option value="10" >10</option>
                        </select>
                    </div>
                    <div class="form-group" id="mydom">

                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">申请理由：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit5">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>   <!--  #####通用modal###### -->



<div class="modal fade " id="apply-modal-common-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>调休申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" class="form" id="applyform6" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="调休" style="display:none;">
                    <div class="form-group">
                        <label for="date-start" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-name" class="control-label">总天数：</label>
                        <select id="apply-days" name="apply_days" class="form-control" >
                                <option value="0.5" >0.5</option>
                                <option value="1" selected="selected">1</option>
                                <option value="1.5" >1.5</option>
                                <option value="2" >2</option>
                                <option value="2.5" >2.5</option>
                                <option value="3" >3</option>
                                <option value="3.5" >3.5</option>
                                <option value="4" >4</option>
                                <option value="4.5" >4.5</option>
                                <option value="5" >5</option>
                                <option value="5.5" >5.5</option>
                                <option value="6" >6</option>
                                <option value="6.5" >6.5</option>
                                <option value="7" >7</option>
                                <option value="7.5" >7.5</option>
                                <option value="8" >8</option>
                                <option value="8.5" >8.5</option>
                                <option value="9" >9</option>
                                <option value="9.5" >9.5</option>
                                <option value="10" >10</option>
                        </select>
                    </div>
                    <div class="form-group" id="mydom">

                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">申请理由：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit6">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>   <!--  #####通用modal###### -->



<div class="modal fade " id="apply-modal-common-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>加班申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" class="form" id="applyform7" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="加班" style="display:none;">
                    <div class="form-group">
                        <label for="date-start" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-name" class="control-label">总天数：</label>
                        <select id="apply-days" name="apply_days" class="form-control" >
                                <option value="0.5" >0.5</option>
                                <option value="1.0" selected="selected">1</option>
                                <option value="1.5" >1.5</option>
                                <option value="2.0" >2</option>
                                <option value="2.5" >2.5</option>
                                <option value="3.0" >3</option>
                                <option value="3.5" >3.5</option>
                                <option value="4.0" >4</option>
                                <option value="4.5" >4.5</option>
                                <option value="5.0" >5</option>
                                <option value="5.5" >5.5</option>
                                <option value="6.0" >6</option>
                                <option value="6.5" >6.5</option>
                                <option value="7.0" >7</option>
                                <option value="7.5" >7.5</option>
                                <option value="8.0" >8</option>
                                <option value="8.5" >8.5</option>
                                <option value="9.0" >9</option>
                                <option value="9.5" >9.5</option>
                                <option value="10.0" >10</option>
                        </select>
                    </div>
                    <div class="form-group" id="mydom">

                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">申请理由：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit7">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>    <!-- #####通用modal###### -->


<div class="modal fade " id="apply-modal-common-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>年假申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" class="form" id="applyform8" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="年假" style="display:none;">
                    <div class="form-group">
                        <label for="date-start" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-name" class="control-label">总天数：</label>
                        <select id="apply-days" name="apply_days" class="form-control" >
                                <option value="0.5" >0.5</option>
                                <option value="1.0" selected="selected">1</option>
                                <option value="1.5" >1.5</option>
                                <option value="2.0" >2</option>
                                <option value="2.5" >2.5</option>
                                <option value="3.0" >3</option>
                                <option value="3.5" >3.5</option>
                                <option value="4.0" >4</option>
                                <option value="4.5" >4.5</option>
                                <option value="5.0" >5</option>
                                <option value="5.5" >5.5</option>
                                <option value="6.0" >6</option>
                                <option value="6.5" >6.5</option>
                                <option value="7.0" >7</option>
                                <option value="7.5" >7.5</option>
                                <option value="8.0" >8</option>
                                <option value="8.5" >8.5</option>
                                <option value="9.0" >9</option>
                                <option value="9.5" >9.5</option>
                                <option value="10.0" >10</option>
                                <option value="10.5" >10.5</option>
                                <option value="11.0" >11</option>
                                <option value="11.5" >11.5</option>
                                <option value="12.0" >12</option>
                                <option value="12.5" >12.5</option>
                                <option value="13.0" >13</option>
                                <option value="13.5" >13.5</option>
                                <option value="14.0" >14</option>
                                <option value="14.5" >14.5</option>
                                <option value="15.0" >15</option>
                        </select>
                    </div>
                    <div class="form-group" id="mydom">

                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">申请理由：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit8">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>    <!-- #####通用modal###### -->



<div class="modal fade " id="apply-modal-common-4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>其他申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" class="form" id="applyform9" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="其他" style="display:none;">
                    <div class="form-group">
                        <label for="date-start" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-name" class="control-label">总天数：</label>
                        <select id="apply-days" name="apply_days" class="form-control" >
                                <option value="0.5" >0.5</option>
                                <option value="1.0" selected="selected">1</option>
                                <option value="1.5" >1.5</option>
                                <option value="2.0" >2</option>
                                <option value="2.5" >2.5</option>
                                <option value="3.0" >3</option>
                                <option value="3.5" >3.5</option>
                                <option value="4.0" >4</option>
                                <option value="4.5" >4.5</option>
                                <option value="5.0" >5</option>
                                <option value="5.5" >5.5</option>
                                <option value="6.0" >6</option>
                                <option value="6.5" >6.5</option>
                                <option value="7.0" >7</option>
                                <option value="7.5" >7.5</option>
                                <option value="8.0" >8</option>
                                <option value="8.5" >8.5</option>
                                <option value="9.0" >9</option>
                                <option value="9.5" >9.5</option>
                                <option value="10.0" >10</option>
                        </select>
                    </div>
                    <div class="form-group" id="mydom">

                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">申请理由：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit9">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>  <!--   #####通用modal###### -->


<div class="modal fade " id="apply-modal-common-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>事假申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" class="form" id="applyform10" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="事假" style="display:none;">
                    <div class="form-group">
                        <label for="start-date" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-name" class="control-label">总天数：</label>
                        <select id="apply-days" name="apply_days" class="form-control" >
                                <option value="0.5" >0.5</option>
                                <option value="1.0" selected="selected">1</option>
                                <option value="1.5" >1.5</option>
                                <option value="2.0" >2</option>
                                <option value="2.5" >2.5</option>
                                <option value="3.0" >3</option>
                                <option value="3.5" >3.5</option>
                                <option value="4.0" >4</option>
                                <option value="4.5" >4.5</option>
                                <option value="5.0" >5</option>
                                <option value="5.5" >5.5</option>
                                <option value="6.0" >6</option>
                                <option value="6.5" >6.5</option>
                                <option value="7.0" >7</option>
                                <option value="7.5" >7.5</option>
                                <option value="8.0" >8</option>
                                <option value="8.5" >8.5</option>
                                <option value="9.0" >9</option>
                                <option value="9.5" >9.5</option>
                                <option value="10.0" >10</option>
                        </select>
                    </div>
                    <div class="form-group" id="mydom">

                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">申请理由：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="applysubmit10">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>   <!--  #####通用modal###### -->



<div class="modal fade " id="apply-modal-common-6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>丧假申请</strong></h4>
            </div>
            <div class="modal-body">
                <form action="/leave/apply/" method="post" class="form" id="applyform11" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="leavetype" value="丧假" style="display:none;">
                    <div class="form-group">
                        <label for="start-date" class="control-label">开始时间：</label>
                        <div class="input-group date form_date" data-date-format="yyyy-mm-dd">
                            <input name="start_date" class="form-control" size="12" type="text" value="{{ start_date }}" placeholder="起始时间" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact-name" class="control-label">总天数：</label>
                        <select id="apply_days" name="apply_days" class="form-control" >
                                <option value="0.5" >0.5</option>
                                <option value="1.0" selected="selected">1</option>
                                <option value="1.5" >1.5</option>
                                <option value="2.0" >2</option>
                                <option value="2.5" >2.5</option>
                                <option value="3.0" >3</option>
                        </select>
                    </div>
                    <div class="form-group" id="mydom">

                    </div>
                    <div class="form-group">
                        <label for="apply-info" class="control-label">申请理由：</label>
                        <textarea id="apply-info" name="apply_info" class="form-control" rows="4" placeholder="必填" placeholder="必填" required></textarea> 
                    </div>
                    <div class="modal-footer" >
                        <button type="button" class="btn btn-success" id="applysubmit11">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>   <!--  #####通用modal###### -->

<script type="text/javascript">
$(document).ready(function () {

    $("select[name=apply_days]").change(function () {
        if (parseInt($(this).val().split('.')[0]) >= 1 && $(this).val().split('.')[1] == '5') {
            var objs = $("div[id=mydom]");
            objs.empty();
            objs.append('<label for="contact-name" class="control-label" style="color: red;">0.5天的归属：</label>' +
                        '<select id="apply_days" name="sore" class="form-control" >' +
                                '<option value="1" >开始日期</option>' +
                                '<option value="0" >结束日期</option>' +
                        '</select>');
        } else {
            var objs = $("div[id=mydom]");
            objs.empty();
        }
    });

    $('#applysubmit1').click(function () {
        var data = new FormData($('#applyform1').get(0));
        var d = {};
        var json = $('#applyform1').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_days = d['apply_days'];
        var apply_visitor = d['apply_visitor'];
        var apply_address = d['apply_address'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_days && apply_visitor && apply_address && apply_info && start_date){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit2').click(function () {
        var data = new FormData($('#applyform2').get(0));
        var d = {};
        var json = $('#applyform2').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_days = d['apply_days'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_days && apply_info && start_date){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit3').click(function () {
        var data = new FormData($('#applyform3').get(0));
        var d = {};
        var json = $('#applyform3').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_info && start_date){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit4').click(function () {
        var data = new FormData($('#applyform4').get(0));
        var d = {};
        var json = $('#applyform4').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var chanjiatype = d['chanjiatype'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (chanjiatype && apply_info && start_date){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit5').click(function () {
        var data = new FormData($('#applyform5').get(0));
        var d = {};
        var json = $('#applyform5').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_days = d['apply_days'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_info && start_date && apply_days){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit6').click(function () {
        var data = new FormData($('#applyform6').get(0));
        var d = {};
        var json = $('#applyform6').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_days = d['apply_days'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_info && start_date && apply_days){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit7').click(function () {
        var data = new FormData($('#applyform7').get(0));
        var d = {};
        var json = $('#applyform7').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_days = d['apply_days'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_info && start_date && apply_days){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit8').click(function () {
        var data = new FormData($('#applyform8').get(0));
        var d = {};
        var json = $('#applyform8').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_days = d['apply_days'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_info && start_date && apply_days){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit9').click(function () {
        var data = new FormData($('#applyform9').get(0));
        var d = {};
        var json = $('#applyform9').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_days = d['apply_days'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_info && start_date && apply_days){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit10').click(function () {
        var data = new FormData($('#applyform10').get(0));
        var d = {};
        var json = $('#applyform10').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_days = d['apply_days'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_info && start_date && apply_days){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('#applysubmit11').click(function () {
        var data = new FormData($('#applyform11').get(0));
        var d = {};
        var json = $('#applyform11').serializeArray();
        $.each(json, function() {
            d[this.name] = this.value;
        });
        var apply_days = d['apply_days'];
        var apply_info = d['apply_info'];
        var start_date = d['start_date'];
        if (apply_info && start_date && apply_days){
            loadgif(true);
            $.ajax({
                url:"/leave/apply/",
                type:"post",
                data:data,
                enctype: "multipart/form-data",
                cache: false,
                processData: false,
                contentType: false,
                success:function(ret){
                    if (ret.msg == 0){
                        window.location.href = 'http://192.168.162.108:8005/leave/notes/'
                    } else {
                        bootbox.alert(ret.msg);
                        loadgif(false);
                    }
                }
            });
        }else{
            bootbox.alert('缺少必填信息');
        }
    });

    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
});
</script>
{% endblock %}
