{% extends 'leavebase.html' %}
{% load bootstrap3 %}
{% block content %}
            <li><a href="/leave/apply/">申请</a></li>
            <li><a href="/leave/notes/">申请记录</a></li>
            <li><a href="/leave/myholiday/">假日详情</a></li>
            {% if num > 0 %}
            <li class="active"><a href="/leave/myapproval/">审批记录</a></li>
            {% endif %}
            {% if user.pro.vacation_manager %}
            <li><a href="/leave/manager/">管理界面</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">待审批</h2>
          <span style="color:red;">{{error}}</span>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:7%;">申请人</th>
                  <th style="width:10%;">申请时间</th>
                  <th style="width:7%;">假期类型</th>
                  <th style="width:10%;">开始时间</th>
                  <th style="width:10%;">结束时间</th>
                  <th style="width:40%;">详情</th>
                  <th style="width:10%;">操作</th>
                  <th style="width:5%;">附件</th>
                </tr>
              </thead>
              <tbody>
              {% for obj in objs %}
              {% if not obj.status %}
                <tr>
                  <td>{{obj.user.first_name}}</td>
                  <td>{{obj.apply_date | date:'Y-m-d'}}</td>
                  <td>{{obj.leavetype}}</td>
                  <td>{{obj.start_date | date:'Y-m-d'}}</td>
                  <td>{{obj.end_date | date:'Y-m-d'}}</td>
                  <td>{{obj.desc}}</td>
                  <td><a href="/leave/result/?res=1&obj_id={{obj.id}}" style="text-decoration:none;">同意</a><a href="/leave/result/?res=0&obj_id={{obj.id}}" style="text-decoration:none; margin-left:20px;">拒绝</a></td>
                  {% if obj.upfile %}
                  <td><a href="/leave/down/?obj_id={{obj.id}}" style="text-decoration:none;">下载</a></td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <h2 class="sub-header">审批记录</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width:7%;">申请人</th>
                  <th style="width:10%;">申请时间</th>
                  <th style="width:7%;">假期类型</th>
                  <th style="width:7%;">总天数</th>
                  <th style="width:50%;">详情</th>
                  <th style="width:5%;">申请结果</th>
                  <th style="width:5%;">附件</th>
                </tr>
              </thead>
              <tbody>
              {% for obj in objs %}
              {% if obj.status %}
                <tr>
                  <td>{{obj.user.first_name}}</td>
                  <td>{{obj.apply_date | date:'Y-m-d'}}</td>
                  <td>{{obj.leavetype}}</td>
                  {% if obj.total_day %}
                  <td>{{obj.total_day}}</td>
                  {% else %}
                  <td>0</td>
                  {% endif %}
                  <td>{{obj.desc}}</td>
              {% if obj.result == 1 %}
                 <td>同意</td>
              {% elif obj.result == 2 %}
                 <td>已取消</td>
              {% else %}
                 <td>拒绝</td>
              {% endif %}
              {% if obj.upfile %}
                <td><a href="/leave/down/?obj_id={{obj.id}}" style="text-decoration:none;">下载</a></td>
                {% else %}
                <td></td>
                {% endif %}
              </tr>
              {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
